.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.4);
  .modal {
    width: 500px;
    height: 500px;
    background: red;
  }
}
